# Visual Studio
.vs/
*.user
*.userosscache
*.sln.docstates
*.suo
*.cache
*.ntvs*
*.njsproj
*.dto
*.d.ts

# VS Code
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/

# JetBrains Rider
.idea/
*.sln.iml

# SPT Mod artifacts
user/
BepInEx/
*.log

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Mac
.DS_Store

# Other
*.bak
*.tmp
*.swp